*{
 margin: 0;
 padding: 0;
 border: border-box; 
 
}

.nav-bar{
 height: 60px;
width: 100%;
 background-color: black;
 color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
navlogo{
 height: 36px;
 width: 100px;
}
.logo{
 background-color: black;
 color: black;
 background-image:url(images/amazon-logo-black-background-xb9pdemosnjfz9ej.jpeg);
 height: 43px;
 width: 140px;
 background-size: contain;
 margin-bottom: 40px;


}

.border{
 border: 2px solid transparent;
}
.border :hover{
 border: 1.5px solid white;
}

.nav-addrrs{
 display: flex;

 height: 50px;    
 width: 40px;
 align-items: center;


}
.add1{
color: #ccc;
font-size: 0.85rem;
margin-left: 15px;
}
.add2{
 font-size: 1rem;
 margin-left: 3px;
 
}
.icon{
 align-items: center;
 display: flex;
 
}

.navsearch{
 display: flex;
 width: 700px;
 height: 40px;
 border-radius: 4px;
 background-color: rgb(247, 245, 245);


}
.navsearch :hover{
 border: 2px solid orange ;

}
.all{
 background-color: white;
 text-align: center;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
margin-left: 2px;
border: none;
width: 60px;

}
.search-icon{
 background-color: rgba(237, 237, 7, 0.785);
 color: black;
 width: 40px;

 display: flex;
 justify-content: center;
 align-items: center;

 height: 40px;
 border-top-right-radius: 4px;
border-bottom-right-radius: 4px;


}
.holder{
 width:660px;
}

span{
 font-size: 0.7rem;

}
.nav2{
 font-size: 0.8rem;

}

.cart i{
 font-size: 35px;
}
.cart{
 font-size: 1rem;
 font-weight:700 ;
}

.panel{
 height: 40px;
 background-color:#222f3d;
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
color: white;
}

.PointAll{
 width: 80px;
 font-size: 0.9rem;

 
}

.data p{
 width: 70%;
  justify-content: flex-start;
 display: inline;
 font-size: 0.8rem;
 margin-left: 15px;
 

}
.shop{
  justify-content: flex-end;
  margin-left: 900px;
   font-size: 0.8rem;
}

.hero-section{
  background-image:url(images/dab2e00c579835e47b06b38a00110164.jpg) ;
  height: 350px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg{
  height: 40px;
  width: 80%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  
  margin-bottom: 20px;
}

.content{
 margin-top: 15px;
  height: 800px;
  width: 100%;
  display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
  height: 380px;
  width: 23%;
  border: 2px solid black;
    padding: 0px 0px 5px;
    background-color: white;


}
.box-img{
 
  background-size: cover;
  height:300px ;
  background-repeat: no-repeat;
  margin-top: 1rem;
margin-bottom: 1rem;




}
.box-content{
  margin-top: 10px;
  margin-left: 1rem;
margin-right: 1rem;
font-size: 10px;
margin-bottom: 5PX;
}


.foot{
  font-size: 15px;
 align-items: center;
}

.footer{
width: 100%;
background-color: #222f3d;
margin-top: 15px;
}
.foot1{
  height: 45px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #284461;
  display: flex;
  color: white;
  font-size: 0.8rem;
  padding: 0px;

}

.foot2{
 display: flex;
  background-color: #19293a;
  color: white;
  height: 400px;
  justify-content: space-evenly;p}


ul{
  margin-top: 40px;
}

.foot2 a{
  display: block;
  font-size: 0.7rem;
  margin-top: 10px;
  color: #dddddd;
}

.foot3{
  height: 70px;
   background-color: #021932;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:  0.8px solid white ;
}
.logo{
 background-color: black;
 color: black;
 background-image:url(images/amazon-logo.jpg);
 height: 35px;
 width: 100px;
 background-size: contain;
 margin-bottom: 40px;
background-repeat: no-repeat;
display: flex;
margin-top: 40px;
padding-top: 10px;

}


.foot4{

  height: 60px;
  color: white;
   background-color: #021932;
 
}
.pages {
  padding-top: 20px;
 
  display: flex;
  height: 20px;
  font-size: 0.8rem;
  justify-content: space-evenly;
  text-align: center;

 color: rgb(244, 243, 242);

}
.copyright{
  margin-top: 10px;
   display: flex;
color: rgb(242, 242, 242);
  height: 20pxpx;
  font-size: 0.9rem;
  text-align: center;
  justify-content: space-evenly;
 
}